<!DOCTYPE html>
<html lang="en">

  <head>
    <style type="text/css">
      .label {text-align: left}
      textarea{
          width: 500px;
          height:400px;
          font-size:15px;
      }
    </style>
      <link rel="stylesheet" type="text/css" href="">
    {% block head %}
      <title>{% block title %}{% endblock %} - Blog</title>
    {% endblock %}

  </head>

  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <br>
    <div id="footer">
        {% block footer %}

        {% endblock %}
    </div>
  </body>

</html>